button{
    display: block;
    background-color: #669966; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
 
}

nav{
    background-color: #669966; /* Green */
    box-shadow: black;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #669966;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #83c383;
  }

h1{
    text-align: center;
}

button:hover{
    background-color: #83c383;
    box-shadow: black;
}

.divGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    
}

.one { 
    display: inline-block;
    grid-area: 1 / 2 / 2 / 3; }
.two { 
    display: inline-block;
    grid-area: 2 / 2 / 3 / 3; }
.three { 
    display: inline-block;
    grid-area: 3 / 2 / 4 / 3; }
.four { 
    display: inline-block;
    grid-area: 4 / 2 / 5 / 3; }
.five { 
    display: inline-block;
    grid-area: 5 / 2 / 6 / 3; } 
